.App {
  /*text-align: center;*/
}




/*https://www.schemecolor.com/nighttime-sky.php
0D1130
18144F
283785
*/

.App-header {
  /*background-color: #397A4C;*/
  background-image: url('pexels-stein-egil-liland-3374210.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  font-size: calc(10px + 2vmin);
  color: white;
}


.Music-content {
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
  display: flex;

}